<div class="container">
  <h1>Registeration</h1>
  
  
  

  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-4">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="">Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="">Password</label>
        <input type="text" class="form-control" formControlName="password" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button (click)="onSaveUser()" class="btn btn-success">
          Save User
        </button>
      </div>
    </div>
  </form>
</div>
