<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="bg-warning text-light text-center">Login</h1>

      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div class="container">
          <div class="row">
            <button
              type="button"
              class="btn btn-success btn-md p-2 mt-2 btn-block"
              (click)="onLogin()"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
